name: Sync Fork with Upstream

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: aormsby/Fork-Sync-With-Upstream-action@v3.4.1
        with:
          # Branch receiving updates from the upstream repo, e.g. => main, master, prod
          target_sync_branch: main
          # Input for passing secrets.GITHUB_TOKEN when disabling persistent auth in the checkout step
          target_repo_token: ${{ secrets.GITHUB_TOKEN }}
          # Upstream repository, e.g. => aormsby/Fork-Sync-With-Upstream-action
          upstream_sync_repo: iamr0b0tx/creationary-frontend
          # Branch to sync from, e.g. => main, master, dev
          upstream_sync_branch: main
          # Git user credentials for sigining commit, (set to "null" for no config
                    
